<div>
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2><a>اسب های فروشی</a></h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="AdItem">
                        <div>
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../../../Images/Horse/Image/aybod.jpg" alt="" />
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="EachHorse.aspx">آی بد</a> </h3>
                                        <p>اخته دوخون 12 ساله</p>
                                        <a class="preview" href="EachHorse.aspx" rel="prettyPhoto"><i class="fa fa-eye"></i>بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table>
                                <tr><td>اخته </td></tr>
                                <tr><td>دوخون 12 ساله</td></tr>
                                <tr><td>پرشی</td></tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="AdItem">
                        <div>
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../../../Images/Horse/Image/delta.jpg" alt="" />
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">دلتا</a></h3>
                                        <p>اخته ترکمن خالص 7 ساله</p>
                                        <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i>بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table>
                            <tr><td>اخته</td></tr>
                            <tr><td>ترکمن خالص 7 ساله</td></tr>
                            <tr><td>پرشی</td></tr>
                        </table>
                    </div>
                </div>


                <div class=" col-md-3">
                    <div class="AdItem">
                        <div>
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../../../Images/Horse/Image/khazan.jpg" alt="" />
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">خزان </a></h3>
                                        <p>سیلمی خالص 17 ساله</p>
                                        <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i>بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table>
                            <tr><td>سیلمی</td></tr>
                            <tr><td>خالص ایرانی 17 ساله</td></tr>
                            <tr><td>پرشی</td></tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="AdItem">
                        <div>
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../../../Images/Horse/Image/gheysar.jpg" alt="" />
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">قیصر </a></h3>
                                        <p>سیلمی آنگولا عرب 18 ساله</p>
                                        <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i>بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table>
                            <tr><td>سیلمی</td></tr>
                            <tr><td>آنگولاعرب 18 ساله</td></tr>
                            <tr><td>پرشی</td></tr>
                        </table>
                    </div>
                </div>
                <div class="row slide-margin">
                    <div class="col-md-12" style="text-align:center">
                        <div class="carousel-content">
                            <a class="btn-slide" href="HorseSale.aspx">دیدن همه ی آگهی ها</a>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <!--/.row-->
        </div><!--/.container-->
    </section>
</div>