<div>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2><a>نام اسب</a></h2>
            <hr />
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-6">
                    <div class="imgHead">
                        <img class="imgHead" src="../../../Images/Horse/Image/aybod.jpg" alt="" />
                    </div>
                    <table style="width:100%">
                        <tr>
                            <th>نام اسب</th>
                            <td>آی بد</td>
                            <th>سال تولد</th>
                            <td> 1384</td>
                        </tr>
                        <tr>
                            <th>رنگ</th>
                            <td>کهر</td>
                            <th>کاربری</th>
                            <td>پرشی</td>
                        </tr>
                        <tr>
                            <th>نژاد</th>
                            <td>دوخون</td>
                            <th>محل تولد</th>
                            <td> ایران</td>
                        </tr>
                        <tr>
                            <th>جنسیت</th>
                            <td>آخته</td>
                            <th>محل نگهداری</th>
                            <td> باشگاه آرش</td>
                        </tr>
                        <tr>
                            <th>شناسنامه</th>
                            <td>دارد</td>
                            <th>پاسپورت</th>
                            <td> ندارد</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div>
                        <table class="table1" style="width:100%">
                            <tr>
                                <td>نام اسب</td>
                                <td>
                                    <table style="width:100%">
                                        <tr>
                                            <td>نام پدر اسب</td>
                                            <td>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td>نام پدر،پدر </td>
                                                        <td>
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td>نام پدر،پدربزگ </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>نام مادر،پدربزرگ</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>نام مادر،پدر</td>
                                                        <td>
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td>نام پدر،مادربزگ </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>نام مادر،مادربزرگ</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>نام مادر اسب</td>
                                            <td>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td>نام پدر،مادر </td>
                                                        <td>
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td>نام پدر،پدربزگ </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>نام مادر،پدربزرگ</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>نام مادر،مادر</td>
                                                        <td>
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td>نام پدر،مادربزگ </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>نام مادر،مادربزرگ</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>