<div>
    <section id="about-us">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>درباره ما </h2>
                <hr />
                <p class="lead">
                    این وبسایت با در نظر گرفتن بخش های آگهی اسب فروشی و لوازم فروشی سعی در پوشش دهی نیازهای آگهی صنعت اسب را دارد. شما می توانید با استفاده از آگهی کردن اسب فروشی و لوازم فروشیتان بدون واسطه در این وبسایت بفروشید و یا بخرید. <br />
                    همچنین در این وبسایت یک گروه حرفه ای و شایان کارشناس اسب معرفی گردیده که متشکل از مربی و سوارکار و دامپزشک می باشد ، شما میتوانید با این گروه ارتباط برقرار کرده و اسب موردنظرتان را با کارشناسی و صحت اطمینان خرید کنید.
                </p>
            </div>

            <!-- about us slider -->
            <div id="about-slider">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-slider" data-slide-to="1"></li>
                        <li data-target="#carousel-slider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/horse_gym_slide1.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="images/vetslide1.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="images/poolslide1.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>

                    <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> <!--/#carousel-slider-->
            </div><!--/#about-slider-->
            <!-- Our Skill -->
            <div class="skill-wrap clearfix">

                <div class="center wow fadeInDown">
                    <hr />
                    <h2>عملکردها</h2>
                    <p class="lead">در چارت پای زیر درصد عملکرد بخش های وبسایت مشخص شده است.</p>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="joomla-skill">
                                <p><em>85%</em></p>
                                <p>آگهی اسب فروشی</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="html-skill">
                                <p><em>95%</em></p>
                                <p>معرفی گروه کارشناسی</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="css-skill">
                                <p><em>80%</em></p>
                                <p>معرفی گروه دامپزشکی</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <div class="wp-skill">
                                <p><em>90%</em></p>
                                <p>آگهی فروش لوازم اسب و سوار</p>
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
            </div><!--/.our-skill-->
            <!-- our-team -->
            <!--section-->
        </div><!--/.container-->
        </section>
    </div>
